@import "tailwindcss";

@theme {
  --color-primary: #DC3846;
  --color-textPrimary: #0A0A0A;
  --color-background: #FFFFFF;
  --color-bgLight: #F5F5F5;
  --color-bgSoft: #FAFAFA;
  --color-bgBlack: #0A0A0A;
  --color-bgSilver: #F5F5F5;
  --color-bgGray: #767676;
  
  --font-gotham: var(--font-gotham);
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-poppins);
}
